# Created by openshift-install
# https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-files.html
[default]
aws_access_key_id={{ aws_access_key_id }}
aws_secret_access_key={{ aws_secret_access_key }}
