apiVersion: {{ api_version }}
baseDomain: {{ base_domain }}
machines:
- name: master
  platform: {}
  replicas: {{ master_replicas }}
- name: worker
  platform: {}
  replicas: {{ worker_replicas }}
metadata:
  creationTimestamp: null
  name: {{ cluster_name }}
networking:
  clusterNetworks:
  - cidr: 10.128.0.0/14
    hostSubnetLength: 9
  machineCIDR: 10.0.0.0/16
  serviceCIDR: 172.30.0.0/16
  type: OpenshiftSDN
platform:
  aws:
    region: {{ aws_region }}
pullSecret: '{{ pull_secret | to_json }}'
sshKey: |
  {{ ssh_key }}
