apiVersion: "{{ apiVersion }}"
baseDomain: "{{ baseDomain }}"
machines:
- name: master
  platform: {}
  replicas: "{{ masterReplicas }}"
- name: worker
  platform: {}
  replicas: "{{ workerReplicas }}"
metadata:
  creationTimestamp: null
  name: "{{ clusterName }}"
networking:
  clusterNetworks:
  - cidr: 10.128.0.0/14
    hostSubnetLength: 9
  machineCIDR: 10.0.0.0/16
  serviceCIDR: 172.30.0.0/16
  type: OpenshiftSDN
platform:
  aws:
    region: "{{ awsRegion }}"
pullSecret: "{{ pullSecret }}"
pullSecret: '{"auths":{"cloud.openshift.com":{"auth":"b3BlbnNoaWZ0LXJlbGVhc2UtZGV2K3JobmVuZ2luZWVyaW5nZHltdXJyYXkxZnVzOG1qYnBmZzE1d2ZrMXhlMTlpYTB0aXA6UTcxTVlFM0MyMVhHSzgzQkZONExCNFQ5N0Q2UUw2N09WVVk2NFJDVzg1U003R08yU1I1NjZENE9HTkw0TTVUVA==","email":"dymurray@redhat.com"},"quay.io":{"auth":"b3BlbnNoaWZ0LXJlbGVhc2UtZGV2K3JobmVuZ2luZWVyaW5nZHltdXJyYXkxZnVzOG1qYnBmZzE1d2ZrMXhlMTlpYTB0aXA6UTcxTVlFM0MyMVhHSzgzQkZONExCNFQ5N0Q2UUw2N09WVVk2NFJDVzg1U003R08yU1I1NjZENE9HTkw0TTVUVA==","email":"dymurray@redhat.com"}}}'
sshKey: |
  "{{ sshKey }}"
